ul{
	list-style: none;
	text-align: right;
	padding: 0;

}

.icon {float: left;
		 
}

.icon > h2 { margin:0;
}
 
li{font-size: 16px;
	padding: 10px 15px;
	margin-top: 15px;
	margin-left: 10px;
	display: inline-block}

.icon.dekstop{ font-size:20px;
				margin-top: 10px;
				color: var(--text-color);
				font-weight:300;
				text-decoration:none;
				cursor:default;}
.mobile {display: none;
		 }

.icon.mobile{background-color: pink;
			 color:white; 
			 font-size: 36;}

@media only screen and (max-width:500px)
{ .mobile { display:block; }
  .dekstop {display: none;}
  .dekstop.mobile{ display: block; } 
  }

.logo { font-size:20px;
				color: var(--text-color);
				font-weight:300;
				text-decoration:none;
				cursor:default; }

		:root {--text-color: red;
				--bg-color: black ;
				--main-color: black;
				
				--h1-font : 6rem;
				--h2-font : 3rem;
				--p-font  : 1.5rem}

		span { color:var(--main-color); }


		header{position: contents;
			   top : 10px;
			   margin-left: 10px;
			   width: 100%;
			   padding: 0px 20px;
			   display: flex;
			   justify-content: space-between;
			   align-items: center;
			   backdrop-filter: blur(10px);

			}


		h2{ padding-top:10px; 
				}

		.home-text{
								background-image: url(https://www.dreamers.id/img_editor/58467/images/TWICE-22.jpg) ;
								background-size: cover;
								background-position: center;
     						background-repeat: no-repeat;
    						padding-right: 0px;
    						margin-left: 20px;
    						margin-right: 10px;
    		}

		.navbar{display: flex;
				list-style: none;}


		.navbar a {color: var(--text-color);
				   font-size: var(--p-font);
					font-weight: 500;
					margin: 10px 10px;
					transition: all .5 ease;
					text-decoration: none;}

		.navbar a:hover {color: var(--main-color);
						 padding-right: 10px;}

		.follow { display: flex;
				  align-items: center;
				  padding-right: 30px;
		}

		.follow a:first-child {color: var(--text-color);
								font-size: var(--p-font);
								margin-right: 20px;}
		.follow a{
			vertical-align: middle;
			font-size: 20px;
			color: var(--main-color);
			margin: 10px 15px;
			margin-right: 18px;
			margin-left: 60px;
			transition: all .20s ease;
		}

		.follow a:hover { color:var(--main-color);
						  padding-right: 10px; }

		section{padding: 0px 20px 30px;
						margin-top: -23px}

		img {
			border-radius: 20px;

		}

		i{
			color: #FFE10E;;
		}


* {
  box-sizing:border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 20px;
}

.row:after {
  content: "";
  display: contents;
  position: absolute;
  clear: both
}


.column-33 {
  align-items: center;
  width: 30%;
  padding: 10px;
  display: inline-block;
  margin-left: 15px;
}


.button {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  background-color: #04AA6D;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 1000px) {
  .column-66,
  .column-33 {
    width: 100%;
    text-align: center;
  }
  img {
    margin: auto;
  }
}

.info1{
	margin-bottom:15px;
	height: 180px;
}

.info3{
	width: 500px;
	height: 180px;
}

.modal-body{
	margin-left: 20px;
	margin-right: 10px;
	padding-right: 0;
}


.container {
	width: 1000px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.container .btn1 {
	position: relative;
	top: 0;
	left: 0;
	width: 250px;
	height: 50px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container .btn1 a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	padding: 10px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	color: #fff;
	font-weight: 400px;
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(15px);
}
.container .btn1:hover a {
	letter-spacing: 3px;
}
.container .btn1 a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
	transform: skewX(45deg) translate(0);
	transition: 0.5s;
	filter: blur(0px);
}
.container .btn1:hover a::before {
	transform: skewX(45deg) translate(200px);
}
.container .btn1::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	bottom: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.container .btn1:hover::before /*lightup button*/ {
	bottom: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}

.container .btn1::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	top: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.container .btn1:hover::after /*lightup button*/ {
	top: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}
.container .btn1:nth-child(1)::before, /*chnage 1*/
.container .btn1:nth-child(1)::after {
	background: #ff1f71;
	box-shadow: 0 0 5px #ff1f71, 0 0 15px #ff1f71, 0 0 30px #ff1f71,
		0 0 60px #ff1f71;
}
.container .btn1:nth-child(2)::before, /* 2*/
.container .btn1:nth-child(2)::after {
	background: #2db2ff;
	box-shadow: 0 0 5px #2db2ff, 0 0 15px #2db2ff, 0 0 30px #2db2ff,
		0 0 60px #2db2ff;
}
.container .btn1:nth-child(3)::before, /* 3*/
.container .btn1:nth-child(3)::after {
	background: #1eff45;
	box-shadow: 0 0 5px #1eff45, 0 0 15px #1eff45, 0 0 30px #1eff45,
		0 0 60px #1eff45;
}
